<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Rundas</display-name>
  <filter>
    <description>Rest Support for the application</description>
    <filter-name>RestFilter</filter-name>
    <filter-class>
			org.jboss.resteasy.plugins.server.servlet.FilterDispatcher
		</filter-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>
				com.truwisatech.rundas.football.rest.FootballApplication
			</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RestFilter</filter-name>
    <url-pattern>/data/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/data</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Parses csv files included with webapp to load database</description>
    <display-name>PopulateDataServlet</display-name>
    <servlet-name>PopulateDataServlet</servlet-name>
    <servlet-class>com.truwisatech.rundas.football.data.loader.PopulateDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateDataServlet</servlet-name>
    <url-pattern>/PopulateData</url-pattern>
  </servlet-mapping>
</web-app>